* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: transparent;
    position: fixed;
}

.navbar-brand img {
    width: 121.24px;
    height: 18px;
    margin-left: 100px;
}

.nav-item a {
    font-size: 14px;
    color: white;
    font-family: "Hind", sans-serif;
    margin-top: 10px;
    margin-left: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-item a:hover {
    color: white;
}

.main1 {
    height: 800px;
    margin-top: -65px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1), rgba(0, 0, 0, 50)), url(img/100.jpg);
    background-position: center;
    background-size: 100;
    padding-top: 120px;
}

.main1 h1 {
    font-size: 23px;
    color: white;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}

.main1 img {
    width: 518px;
    height: 223px;
    animation: animation1 5s linear infinite;
}

@keyframes animation1 {
    50% {
        transform: scale(1.05);
    }
}


.main2{
    border: 1px solid;
    height: 755.4px;
    background-color: black;
}
.main2 .d1{
    padding-top: 100px;
}
.d1 .d2{
    height: 40px;
    width: 0.5px;
    border: 1px solid white;
    margin: 0px 0px 40px;
}

.d3{
    border: 1px solid white;
}
.d3 h6{
    font-size: 12px;
    color: #bcbcbc;
    font-family: "Hind", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0px 20px;
}
.d3 h2{
    font-size: 50px;
    font-family: "Hind", sans-serif;
    color: #f7f7f7;
    text-transform: uppercase;
    letter-spacing: 5px;
}